<!DOCTYPE html>
    <head>
        <title>test web app</title>
        <style>
            hr {
                color: rgb(208, 0, 255);
            }
            body {
                background-color: black;
                color: white;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.index') }}">HOME</a></li>
                <li><a href="{{ url_for('main.create') }}">CREA</a></li>
                <li><a href="{{ url_for('main.read') }}">LEGGI</a></li>
                <li><a href="{{ url_for('main.update', id=1) }}">AGGIORNA</a></li>
                <li><a href="{{ url_for('main.delete') }}">CANCELLA</a></li>
                
            </ul>
        </nav>

        <main>
            {% block content %}
            {% endblock %}
        </main>
        <hr>

        <footer>
            <small>&copy; 2026 - Arlotti Marco - 5M - Uva mio fratello</small>
        </footer>

    </body>
</html>