{% extends 'base.html' %}
{% block content %}

<p>seleziona categoria</p>

<form action="/create_channel" method="POST">
    <select name="categoria_id" id="non_cio_un_idea">
        {% for categoria in categorie %}
        <option value="{{ categoria }}">{{ categoria }}</option>
        {% endfor %}
    </select>
    <input name="nome" placeholder="inserisci il nome"></input>

    <input name="numero_iscritti" placeholder="inserisci il numero iscritti, kekw ez"></input>
    <button type="submit">Invia</button>
</form>

{% endblock %}