<!-- app/templates/base.html -->
<!doctype html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>benvenuto in youtube</title>
</head>
<body>
    <nav>
        <!-- url_for genera l'URL dal nome della funzione -->
        <!-- Sintassi Blueprint: 'nome_blueprint.nome_funzione' -->
        <a>Home</a>
    </nav>
    <hr>

    <!-- Qui mostreremo i messaggi flash (errori/conferme) in futuro -->

    <hr>
    <footer>
        <small>&copy; 2024 - Classe 5^A Informatica</small>
    </footer>
</body>
</html>